@using PROJECT.Models
@{
    ViewBag.Title = "ViewCategories";
    Layout = "~/Views/Shared/admin_share.cshtml";
}


<div id="page-wrapper" style="margin-left :10%">
    <div class="container">
        <h1>Categories</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Update</th>
                        <th>Delete</th>
                       

                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (category i in Model)
{
    <tr><td>@i.Id</td><td>@i.name</td><td>@i.desc</td><td>@Html.ActionLink("Edit", "EditCat", new { id = i.Id })</td><td>@Html.ActionLink("Delete", "DeleteCat", new { id = i.Id })</td></tr>
}

                </tbody>
            </table>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

