@model PROJECT.Models.customer
@{
    ViewBag.Title = "Register1";
    Layout = "~/Views/Shared/menu_shared.cshtml";
}
<div class="container">

    <header id="header">
        <div class="row">
            <div class="span4">
                <a class="logo" href="index.html">
                    <span></span>
                    <img src="~/images/logo-social.png" width="350" height="100" alt="">
                </a>
            </div>


        </div>
    </header>
    <div class="span9">


        <hr class="soft" />
        <div class="well">
        @using (Html.BeginForm("AddCust","Home",FormMethod.Post)) 

        {  @Html.ValidationSummary(true)
            
             <fieldset>
        <legend>Registeration Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model=>model.password)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.postcode)
        </div>
       <div class="editor-field">
            @Html.EditorFor(model => model.postcode)
            @Html.ValidationMessageFor(model => model.postcode)
       </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
       <br/><br/>
        <p>

            <input type="submit" value="Register" class="shopBtn" />
        </p>
    </fieldset>
}

 
        </div>
      
    </div>
        
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>